<div class="row justify-content-center">
    <div class="col-lg-5 text-center custom-css">
        <h2>Register Patient</h2>
        <hr>

        <form [formGroup]="patientForm">
            <div class="row justify-content-center text-center">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="confirm_password">
                        <mat-error *ngIf="patientForm.get('password')?.value != patientForm.get('confirm_password')?.value">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone No</mat-label>
                        <input matInput type="number" formControlName="phone_no">
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12">
                <button class="w-100 btn btn-lg btn-primary" [disabled]="patientForm.invalid || patientForm.get('password')?.value != patientForm.get('confirm_password')?.value" type="submit" (click)="submit()">Submit</button>
            </div>
        </div>

    </div>
</div>